.categorias-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0  60px;
  width: 200px;
}

.categorias-div {
  align-items: center;
  background-color: rgb(242, 246, 250);
  border-radius: 15px;
  box-shadow: 1px 1px 7px black;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 5px;
  width: 250px;
}

.categorias-div:hover {
  background-color: rgb(81, 137, 210);
  cursor: pointer;
}
