.categorias-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.categorias-div {
  background-color: rgb(242, 246, 250);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 5px;
  width: 250px;
}

.categorias-div:hover {
  background-color: rgb(81, 137, 210);
  cursor: pointer;
}
