.card {
  border-radius: 7px;
  box-shadow: 1px 1px 10px black;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: flex-end;
  margin: 7px;
  padding: 10px;

}


.product-contain {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  width: 90%;
}

.div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-outline-primary {
  color: rgb(16, 16, 16);

}

.img-product {
  width: 150px;
}
