.card {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: flex-end;
  margin: 7px;
  padding: 10px;

}


.product-contain {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 90%;
}

.div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-outline-primary {
  color: black;
}

.img-product {
  width: 150px;
}
